@font-face {
    font-family: "MontserratItalic";
    src: url("../fonts/Montserrat-italic.ttf");
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("../fonts/MontserratAlternates-Regular.ttf");
}
@font-face {
    font-family: "RubikRegular";
    src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
    font-family: "RubikBold";
    src: url("../fonts/Rubik-Bold.ttf");
}
@font-face {
    font-family: "TTNormsBold";
    src: url("../fonts/TTNorms-Bold.ttf");
}
body {
    margin: 0;
    background: #121317;
}
#header-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 54px;
}
.logo {
    width: 186px;
    height: 66px;
}
.logo img {
    width: 100%;
}
.link {
    display: flex;
    align-items: center;
}
.link .link-item {
    margin-right: 20px;
}
.link .link-item:last-child {
    margin-right: 0;
}
.link .link-item a {
    font-family: "RubikRegular", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: grey;
    padding-top: 10px;
    border-top: 1px solid transparent;
}
.link .link-item a:hover {
    color: #FFED01;
    border-top: 1px solid #FFED01;
}
#header-active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-active {
    margin-right: 10px;
}
.header-active:last-child {
    margin-right: 0;
}
button {
    cursor: pointer;
}
.yellow {
    width: 139px;
    height: 49px;
    border-radius: 10px;
    background-color: #EDDD0E;
    outline: none;
    border-color: transparent;
}
.header-active .border-yellow {
    width: 139px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid #EDDD0E;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}
#step-container {
    max-width: 1098px;
    margin: 90px auto 0 auto;
    position: relative;
}
#step-title {
    display: flex;
    align-items: center;
}
#step-title #step-title-img {
    width: 74px;
    height: 61px;
    background-color: #FFED01;
    border-radius: 10px;
    margin-right: 15px;
}
#step-title #step-title-img svg {
    padding: 14px 21px;
}
#step-title #step-title-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 65px;
    color: #FFFFFF;
}
#step-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 34px;
    color: #FFFFFF;
    max-width: 685px;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 57px;
}
#step-yellow {
    font-family: 'MontserratItalic', sans-serif;
    font-weight: 600;
    font-size: 29px;
    color: #FFD915;
    width: 535px;
    margin-bottom: 25px;
}
#step-yellow span {
    font-size: 49px;
}
.step-block-text {
    font-family: "RubikRegular", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    width: 610px;
    margin-bottom: 30px;
    line-height: 26px;
}
.step-block-text:last-child {
    margin-bottom: 73px;
}
#step-action .yellow {
    width: 365px;
    height: 87px;
    background: #FFED01;
    padding: 27px 44px;
    box-sizing: border-box;
    font-family: 'MontserratAlternates', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
#step-image {
    position: absolute;
    top: -30px;
    right: -355px;
}
#step-arrow {
    margin-top: 61px;
    margin-left: 15px;
    animation: pulse-arrow 1.5s ease infinite;
}
#agra-container {
    max-width: 1098px;
    margin: 0 auto;
}
.question {
    display: flex;
    align-items: center;
    margin-top: 55px;
}
.question-title {
    font-family: 'RubikBold', sans-serif;
    font-size: 31px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 25px;
}
.question-title span {
    font-size: 40px;
}
#agra-block {
    background: #232427;
    border-radius: 10px;
    max-width: 1098px;
    padding: 38px 17px;
    margin: 40px 5px 0 5px;
}
#agra-block-title {
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
#agra-block-text {
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
#agra-image {
    width: 730px;
    height: 630px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;
}
#agra-image img {
    width: 100%;
}
#agra-image-text {
    position: absolute;
    background: #232427;
    border-radius: 10px;
    width: 336px;
    padding: 36px 2px;
    left: -174px;
    bottom: -32px;
    transition-duration: 1s;
}
#agra-image-text:hover {
    transform: scale(1.1);
    transition-timing-function: ease;
    cursor: pointer;
}
#agra-image-text-cost-title {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 78.2689px;
    text-align: center;
    color: #FFED01;
}
#agra-image-text-cost-title span {
    font-size: 52.2955px;
}
#agra-image-text-cost-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 16.5087px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 246.66px;
    margin: 0 auto;
    line-height: 29px;
}
.agra-text {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 30px;
    width: 1067px;
}
#iproducts-container, #result-container, #difference-container, #multiplication-container, #profit-container {
    max-width: 1098px;
    margin: 0 auto;
}
#iproducts-items {
    display: flex;
}
.iproducts-item {
    margin-right: 30px;
    margin-top: 89px;
    position: relative;
}
.iproducts-item-image {
    transition-duration: 1s;
}
.iproducts-item-image:hover {
    transform: scale(1.1);
    transition-timing-function: ease;
    cursor: pointer;
}
.iproducts-item:last-child {
    margin-right: 0;
}
.iproducts-item-number {
    position: relative;
    top: -240px;
    left: 46px;
    font-family: 'RubikBold', sans-serif;
    font-size: 21.8741px;
    text-transform: uppercase;
    color: #121317;
    z-index: 2;
}
.iproducts-item-number::after {
    content: '';
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #FFED01;
    position: absolute;
    z-index: -1;
    left: -15px;
    top: -7px;
}
.iproducts-item-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 345px;
    margin-top: 90px;
}
.iproducts-item:first-child .iproducts-item-text {
    width: 305px;
}
#result-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    margin-left: 48px;
}
.ct-perfect-fourth {
    max-height: 382px;
    margin-top: 40px;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #FFED01;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #FFED01;
}
.ct-label.ct-vertical.ct-start {
    font-family: 'RubikRegular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(158, 158, 158, 0.55);
}
.ct-label.ct-horizontal.ct-end {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #404144;
}
#difference-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.difference-item {
    max-width: 280px;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px 0 27px 20px;
}
.difference-item:last-child {
    margin-right: 0;
}
.difference-item.active {
    background: #FFED01;
}
.difference-item-img {
    width: 78px;
    height: 78px;
    margin-bottom: 3px;
}
.difference-item-title {
    font-family: 'RubikBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    max-width: 172px;
    line-height: 35px;
    height: 70px;
    color: #FFFFFF;
}
.difference-item.active .difference-item-title, .difference-item.active .difference-item-text {
    color: #121317;
}
.difference-item-text {
    font-family: 'RubikRegular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    width: 250px;
    line-height: 26px;
    margin-top: 15px;
}
.difference-item-img svg {
    fill: #FFED01;
}
.difference-item.active .difference-item-img svg {
    fill: rgba(23, 23, 23, 1);
}
#multiplication-container .question {
    margin-bottom: 66px;
}
.multiplication-text {
    font-family: 'RubikRegular', sans-serif;
    font-size: 21.0508px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
#multiplication-title {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 44px;
    color: #FFFFFF;
    max-width: 1098px;
    background: #232427;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    margin-bottom: 142px;
}
#multiplication-items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.rectangle {
    width: 252px;
    height: 50px;
    background: #232427;
    border-radius: 10px;
    margin-bottom: 37px;
}
.multiplication-item {
    margin-right: 22px;
}
.multiplication-item:nth-child(3) {
    margin-top: 68px;
}
.multiplication-item:nth-child(2) {
    margin-top: 136px;
}
.multiplication-item:first-child {
    margin-top: 204px;
}
#multiplication-items-men {
    position: absolute;
    top: -126px;
    left: 169px;
}
.multiplication-item-image {
    text-align: center;
    height: 98px;
}
.multiplication-item-image svg {
    filter: drop-shadow(0px 0px 15px rgba(255, 237, 1, 0.59));
}
.multiplication-item-title-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.multiplication-item-text {
    font-family: 'RubikRegular', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 16px;
    width: 252px;
}
.multiplication-item-title-number {
    font-family: 'RubikBold', sans-serif;
    font-size: 17.3762px;
    text-transform: uppercase;
    color: #121317;
    margin-right: 37px;
    margin-left: 12px;
    position: relative;
}
.multiplication-item-title-number::after {
    content: '';
    width: 34.95px;
    height: 34.95px;
    background: #FFED01;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: -6px;
    left: -12px;
    z-index: -1;
}
.multiplication-item-title {
    display: flex;
    align-items: center;
}
#profit-statistic {
    margin-top: 100px;
    position: relative;
}
#profit-statistic-img {
    width: 623px;
    height: 545px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#profit-statistic-img img {
    height: 100%;
}
.profit-statistic-item-title {
    font-family: 'MontserratAlternates', sans-serif;
    font-weight: 600;
    font-size: 55.2558px;
    color: #FFFFFF;
}
.profit-statistic-item-title span {
    font-size: 32.2326px;
}
.profit-statistic-item-text {
    font-family: 'RubikBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFED01;
}
.profit-statistic-item:nth-child(3) .profit-statistic-item-text {
    color: #EB5757;
}
.profit-statistic-item:last-child .profit-statistic-item-text {
    color: #131B6F;
}
.profit-statistic-item-block {
    width: 300px;
    position: relative;
    text-align: left;
}
.profit-statistic-item-img {
    position: absolute;
}
#profit-statistic-img .profit-statistic-item:nth-child(2) {
    position: absolute;
    top: -57px;
    left: -185px;
}
#profit-statistic-img .profit-statistic-item:nth-child(2) .profit-statistic-item-img {
    top: 24px;
    left: -50px;
}
#profit-statistic-img .profit-statistic-item:nth-child(3) {
    position: absolute;
    left: 58px;
    bottom: -87px;
}
#profit-statistic-img .profit-statistic-item:nth-child(3) .profit-statistic-item-img {
    top: 0;
    left: -66px;
}
#profit-statistic-img .profit-statistic-item:last-child {
    position: absolute;
    top: 167px;
    right: -281px;
}
#profit-statistic-img .profit-statistic-item:last-child .profit-statistic-item-img {
    top: 0;
    left: 0;
}
#profit-statistic-img .profit-statistic-item:last-child .profit-statistic-item-block {
    text-align: right;
}
#profit-action {
    margin: 200px auto 0 auto;
    width: 297px;
}
#profit-action .yellow {
    width: 297px;
    height: 87px;
    background: #FFED01;
    padding: 27px 44px;
    box-sizing: border-box;
    font-family: 'MontserratAlternates', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
#statistic-container, #footer-container {
    max-width: 1098px;
    margin: 0 auto;
}
.statistic-item {
    position: relative;
    margin-right: 118px;
}
.statistic-item:last-child {
    margin-right: 0;
}
.statistic-item::before {
    content: url("../images/statistic-arrow.png");
    width: 26.23px;
    height: 26.23px!important;
    position: absolute;
    top: 36px;
    left: -30px;
}
.statistic-item-number {
    font-family: 'TTNormsBold', sans-serif;
    font-size: 57.9302px;
    color: #FFED01;
}
.statistic-item-number span {
    font-size: 37px;
}
.statistic-item-text {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 17.4884px;
    color: #FFFFFF;
}
#statistic-items {
    display: flex;
    justify-content: center;
    margin-top: 106px;
    margin-bottom: 135px;
}
#footer-container {
    padding-bottom: 80px;
}
#footer-menu {
    display: flex;
    align-items: center;
}
#footer-menu .logo {
    margin-right: 130px;
}
#footer-text {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 58px;
}
@keyframes pulse-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0);
    }
}